<!DOCTYPE html>
<html>
<%-include('./helpersEJS/head.ejs', title) %>
  <body>
    <main>
        <p>USERS -  
            <% if (!users || users.length === 0) {%>
                    <%= count = 0%>
                 <h1 class="home_count"><a href="http://localhost:3001">Home</a></h1>
            <%} else {%>
                <%= users.length%>
            <%}%> 
        </p>
      <section class="users_table">
          <% users.forEach((e)=> { %>
                <div class="table-item">
                    <div>Users - <%=count++%></div>
                    <div><span class="name_table">name -</span><%= e.name %></div>
                    <div><span class="name_table">email -</span><%= e.email %></div>
                    <div><span class="name_table">gender -</span><%= e.gender %></div>
                    <div><span class="name_table">date -</span><%= e.date %></div>
                    <div class="button-box">
                        <a href="http://localhost:3001/users/edit/<%= e.id%>" class="edit_btn btn_options">Edit</a> 
                        <form action="http://localhost:3001/users/delete/<%= e.id%>" method="post">
                            <button class="delete_btn btn_options">Delete</button>
                        </form>
                    </div>
                </div>
            <% }) %>
    </section>

    </main>
  </body>

</html>